src/main/resources/xsd/Manifest_Change_Transport_Off_Load_Ship_8103_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by lei_ying (szc) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:Declaration:datamodel:standard:CN:MT8103:1"   xmlns:xdb="http://xmlns.oracle.com/xdb" targetNamespace="urn:Declaration:datamodel:standard:CN:MT8103:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--******中国海关水运出口落货后变更运输工具申请报文定义文档******-->
	<!--命名空间：urn:Declaration:datamodel:standard:CN:MT8103:1-->
	
	
	
	
	<!--******根元素定义******-->
	<!--出口落货后变更运输工具申请报文以Manifest作为根节点-->
	<xs:element name="Manifest" type="Manifest">
		<xs:annotation>
			<xs:documentation>水运出口落货后变更运输工具申请</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--******根元素结构定义******-->
	
	
	
	
	<xs:complexType name="Manifest">
		<xs:annotation>
			<xs:documentation>水运出口落货后变更运输工具申请</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Head" type="Head">
				<xs:annotation>
					<xs:documentation>报文头（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Declaration">
				<xs:annotation>
					<xs:documentation>报文体（循环次数：1）</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="Declaration"/>
					</xs:complexContent>
				</xs:complexType>
				
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--******报文头结构定义******-->
	<!--MessageType/报文类型代码：MT8103-->
	<!--FunctionCode/报文功能代码：2-->
	
	<xs:complexType name="Head">
		<xs:annotation>
			<xs:documentation>报文头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageID" >
				<xs:annotation>
					<xs:documentation>报文编号（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctionCode"  fixed="2">
				<xs:annotation>
					<xs:documentation>报文功能代码（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageType"  fixed="MT8103">
				<xs:annotation>
					<xs:documentation>报文类型代码（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SenderID" >
				<xs:annotation>
					<xs:documentation>发送方代码（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReceiverID" >
				<xs:annotation>
					<xs:documentation>接受方代码（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SendTime" >
				<xs:annotation>
					<xs:documentation>发送时间（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" >
				<xs:annotation>
					<xs:documentation>报文版本号（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--******报文体结构定义******-->
	
	<xs:complexType name="Declaration">
		<xs:annotation>
			<xs:documentation>报文体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BorderTransportMeans" type="BorderTransportMeans">
				<xs:annotation>
					<xs:documentation>运输工具数据段（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangeBorderTransportMeans" type="BorderTransportMeans">
				<xs:annotation>
					<xs:documentation>变更后运输工具数据段（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignment" type="Consignment" maxOccurs="9999">
				<xs:annotation>
					<xs:documentation>提（运）单数据段（循环次数：1-9999）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="AdditionalInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--******运输工具数据段******-->
	<xs:complexType name="BorderTransportMeans">
		<xs:annotation>
			<xs:documentation>运输工具数据段</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="JourneyID" >
				<xs:annotation>
					<xs:documentation>149 Conveyance reference number 航次航班编号（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" >
				<xs:annotation>
					<xs:documentation>167 Identification of means of transport crossing the border code 运输工具代码（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--******提（运）单数据段******-->
	
	
	
	
	<xs:complexType name="Consignment">
		<xs:annotation>
			<xs:documentation>提（运）单数据段</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportContractDocument" type="TransportContractDocument">
				<xs:annotation>
					<xs:documentation>运输合同信息（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssociatedTransportDocument" type="AssociatedTransportDocument" minOccurs="0">
				<xs:annotation>
					<xs:documentation>运输合同附加信息（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangeConsignment" type="ChangeConsignment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>变更后提（运）单信息（循环次数：0-1）</xs:documentation>
				</xs:annotation>
				
			
				
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--变更后提（运）单信息-->
	
	
	
	<xs:complexType name="ChangeConsignment">
		<xs:annotation>
			<xs:documentation>变更后提（运）单信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportContractDocument" type="TransportContractDocument">
				<xs:annotation>
					<xs:documentation>运输合同信息（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssociatedTransportDocument" type="AssociatedTransportDocument" minOccurs="0">
				<xs:annotation>
					<xs:documentation>运输合同附加信息（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportEquipment" type="TransportEquipment" minOccurs="0" maxOccurs="9999">
				<xs:annotation>
					<xs:documentation>集装箱（器）信息（循环次数：0-9999）</xs:documentation>
				</xs:annotation>
				
			</xs:element>
			<xs:element name="ConsignmentItem" type="ConsignmentItem" minOccurs="0" maxOccurs="999">
				<xs:annotation>
					<xs:documentation>商品项信息（循环次数：0-999）</xs:documentation>
				</xs:annotation>
				
			
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--运输合同信息-->
	<xs:complexType name="TransportContractDocument">
		<xs:annotation>
			<xs:documentation>运输合同信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" >
				<xs:annotation>
					<xs:documentation>015 Transport document number 总提（运）单号（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--运输合同附加信息-->
	<xs:complexType name="AssociatedTransportDocument">
		<xs:annotation>
			<xs:documentation>运输合同附加信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" >
				<xs:annotation>
					<xs:documentation>189 Associated transport document number 分提（运）单号（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--集装箱（器）信息-->
	<xs:complexType name="TransportEquipment">
		<xs:annotation>
			<xs:documentation>集装箱（器）信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EquipmentIdentification" type="EquipmentIdentification">
				<xs:annotation>
					<xs:documentation>集装箱（器）编号信息（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CharacteristicCode" >
				<xs:annotation>
					<xs:documentation>152 Equipment size and type identification 集装箱（器）尺寸和类型（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplierPartyTypeCode"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>151 Equipment supplier type code 集装箱（器）来源代码（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FullnessCode" >
				<xs:annotation>
					<xs:documentation>154 Transport equipment loaded status 重箱或者空箱标识代码（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SealID"  minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>165 Seal number 封志类型/号码和施加封志人类型（循环次数：0-9）</xs:documentation>
				</xs:annotation><xs:complexType>
					<xs:attribute name="AgencyCode">
						<xs:annotation>
							<xs:documentation>230 Seal agency,coded 施加封志人类型</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--集装箱（器）编号信息-->
	<xs:complexType name="EquipmentIdentification">
		<xs:annotation>
			<xs:documentation>集装箱（器）编号信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" >
				<xs:annotation>
					<xs:documentation>159 Equipment identification number 集装箱（器）编号（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--商品项信息-->
	<xs:complexType name="ConsignmentItem">
		<xs:annotation>
			<xs:documentation>商品项信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SequenceNumeric" >
				<xs:annotation>
					<xs:documentation>006 Consignment item sequence number 商品项序号（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsignmentItemPackaging" type="ConsignmentItemPackaging">
				<xs:annotation>
					<xs:documentation>商品项包装信息（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commodity" type="Commodity">
				<xs:annotation>
					<xs:documentation>商品项简要描述（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="AdditionalInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>商品项补充描述（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMeasure" type="GoodsMeasure">
				<xs:annotation>
					<xs:documentation>商品项货物毛重（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentIdentification" type="EquipmentIdentification" minOccurs="0" maxOccurs="9999">
				<xs:annotation>
					<xs:documentation>集装箱（器）编号信息（循环次数：0-9999）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsProcedure" type="CustomsProcedure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>海关手续信息（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UCR" type="UCR" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>唯一托运编号（循环次数：0-99）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Origin" type="Origin" minOccurs="0">
				<xs:annotation>
					<xs:documentation>原产国信息（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--商品项包装信息-->
	<xs:complexType name="ConsignmentItemPackaging">
		<xs:annotation>
			<xs:documentation>商品项包装信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="QuantityQuantity" >
				<xs:annotation>
					<xs:documentation>139 Number of packages per commodity 商品项货物件数（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" >
				<xs:annotation>
					<xs:documentation>141 Type of packages identification 包装种类代码（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarksNumbers"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>142 Shipping marks 唛头（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--商品项简要描述-->
	<xs:complexType name="Commodity">
		<xs:annotation>
			<xs:documentation>商品项简要描述</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CargoDescription" >
				<xs:annotation>
					<xs:documentation>138 Brief cargo description 商品项简要描述（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UNDGCode"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>143 UNDG Number(Dangerous Goods Code) 危险品编号（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TariffClassificationCode"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>145 Tariff code number(Customs) 海关税则编号（循环次数：0-1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--商品项货物毛重-->
	<xs:complexType name="GoodsMeasure">
		<xs:annotation>
			<xs:documentation>商品项货物毛重</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossMassMeasure" >
				<xs:annotation>
					<xs:documentation>126 Gross weight item level 商品项货物毛重（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--海关手续信息-->
	<xs:complexType name="CustomsProcedure">
		<xs:annotation>
			<xs:documentation>海关手续信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurrentCode" >
				<xs:annotation>
					<xs:documentation>166 Customs procedure code 海关手续代码（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--唯一托运编号-->
	<xs:complexType name="UCR">
		<xs:annotation>
			<xs:documentation>唯一托运信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" >
				<xs:annotation>
					<xs:documentation>016 Unique consignment reference number 唯一托运编号（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--原产国信息-->
	<xs:complexType name="Origin">
		<xs:annotation>
			<xs:documentation>原产国信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginCountryCode" >
				<xs:annotation>
					<xs:documentation>063 Country of origin code 原产国代码（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--******补充信息数据段******-->
	
	
	
	<xs:complexType name="AdditionalInformation">
		<xs:annotation>
			<xs:documentation>补充信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Content" >
				<xs:annotation>
					<xs:documentation>105 Free text 备注（循环次数：1）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
